
*.col
*.eff
*.ui
*.light
*.navi
*.smesh
*.dmesh
*.scene
*.X
*.tga
Client/Bin/Resources/Effect/EffectMesh/material_0
*.png
*.mp3
*.wav
*.dds
*.bmp
*.cso
Tool/Bin/Resources/Effect/EffectMesh/material_0
*.bat
